<%- include("partials/header") %>

<h1>Home</h1>

<p> <%= homeContent %> </p>


<% postContent.forEach(function(post) { %>
 <h1><%= post.titleArea %> </h1>
 <p> <%= post.postArea.substring(0, 100) %> ... <a href="/posts/ <%= post.titleArea %>">Read More</a></p>
<% }) %>
<%- include("partials/footer") %>
